<IfModule pagespeed_module>
	#if Google's mod page speed (http://code.google.com/speed/page-speed/docs/module.html) is installed on the server, use it
	ModPagespeedDisallow *
#	ModPagespeedAllow *
</IfModule>

	#rewrites URL to be http://www.example.com/stats/stats-yoursite.example.com-112010
	#be sure to change /stats/index.php to the path to where you install the AW enhanced stats plugin
Options +FollowSymLinks
RewriteEngine On
	#rewrite rule for optional time paramater
RewriteRule ^stats-([^-]*)$ /nordlicht/juno.php?stats=$1 [L]
	#rewrite rule for with the time paramater
RewriteRule ^stats-([^-]*)-([^-]*)$ /nordlicht/juno.php?stats=$1&time=$2 [L]