/*Spitfire
	@0 - Zero Time
		@0.1 Reset
	@4 - Globals
*/
/*@0 Zero Time*/
@import url(http://fonts.googleapis.com/css?family=Quattrocento);
@import url(http://fonts.googleapis.com/css?family=Expletus+Sans);
html		{ overflow:scroll }
html,body	{ height:100% }
ul			{ margin:0 }
html,body,div,span,h1,h2,h3,h4,h5,h6,p,pre,a,code,img,strong,sup				{ margin:0; padding:0; border:none; }
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section	{ display:block; margin:0; padding:0; border:none; }
a		{ outline:none; }
body	{ background:#545454; color:#fff; font-size:14px; }


#loading {
	position:absolute;
	left:50%;
	top:20%;
	margin-left:-75px;
}